:root {
  --darkgrey-bg: #272626;
  --grey-bg: #454545;
  --grey-skeleton: #555454;
  --grey-hover: #3b3b3b;
  --green-skeleton: #537c5a8c;
  --main-green: #317c40;
  --secondary-green: #3f9c51;
  --text-green: #9fe9ac;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: var(--secondary-green) !important;
  color: white !important;
}

.category-btn:hover span {
  color: white !important;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
}

.player-wrapper {
  padding-top: 56.25%;
  position: relative;
}

.search-bar {
  border: none;
  outline: none;
  width: 350px;
  border-radius: 60px;
  font-size: 16px;
  line-height: 20px;
  background-color: #454545;
  color: #c0e0c7;
}

.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  gap: 10px;
  padding: 7px 15px;
  margin: 5px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
  color: #fff;
}

.aside {
  width: 240px;
}

.videos-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding-bottom: 5px;
}

.rel-video-wrapper {
  width: 450px;
}

.related-videos-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;
  height: 92.2vh;
  padding: 8px 16px;
}

.channel-content-wrapper {
  display: flex;
  align-items: center;
  width: 60%;
}

.skeleton-channel-card {
  width: 100%;
}

.video-card,
.skeleton {
  width: 100%;
  height: 275px;
}

.video-card:hover {
  background-color: var(--grey-hover);
  transition: all 0.3s;
}

.video-card-subtitle:hover {
  color: #fff;
  transition: all 0.3s;
}

.video-img {
  width: 100%;
  height: 170px;
}

.skeleton-videocard {
  width: 100%;
}

.channel-descr-wrapper {
  width: calc(100% - 300px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.descr-resize-btn {
  width: 100%;
  border: none;
  height: 25px;
  background-color: #383737;
  transition: all 0.3s;
  &:hover {
    background-color: #4e4e4e;
    .btn-text {
      color: #74d385;
    }
  }
}

.search-wrapper {
  margin-right: 60px;
}

.btn-text {
  color: rgba(255, 255, 255, 0.589);
  transition: all 0.3s;
}
.header-wrapper {
  padding: 10px 20px;
}

.video-content-wrapper {
  display: flex;
}

.video-detail-wrapper {
  height: 93.9vh;
}

.video-title-wrapper {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

@import "./mediaQueries.scss";
