:root {
  --darkgrey-bg: #272626;
  --grey-bg: #454545;
  --grey-skeleton: #555454;
  --grey-hover: #3b3b3b;
  --green-skeleton: #537c5a8c;
  --main-green: #317c40;
  --secondary-green: #3f9c51;
  --text-green: #74d385;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: var(--secondary-green) !important;
  color: white !important;
}

.category-btn:hover span {
  color: white !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar {
  border: none;
  outline: none;
  width: 350px;
  border-radius: 60px;
  font-size: 16px;
  line-height: 20px;
  background-color: #454545;
  color: #a8c7ae;
}

.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  gap: 10px;
  padding: 7px 15px;
  margin: 5px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
  color: #fff;
}

.aside {
  width: 240px;
}

.videos-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding-bottom: 5px;
}

.channel-content-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}

.channel-card {
  width: 250px;
}

.video-card,
.skeleton {
  width: 100%;
  height: 275px;
}

.video-card:hover {
  background-color: var(--grey-hover);
  transition: all 0.3s;
}

.video-card-subtitle:hover {
  color: #fff;
  transition: all 0.3s;
}

.video-img {
  width: 100%;
  height: 170px;
}

.skeleton-videocard {
  width: 100%;
}

.channel-descr {
  width: 600px;
  display: flex;
  align-items: center;
  padding: 20px;
}

@media screen and (max-width: 1600px) {
  .aside {
    width: 170px;
  }
}


@media screen and (max-width: 1400px) {
  .videos-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}


@media screen and (max-width: 1200px) {
  .aside {
    width: 150px;
  }
}


@media screen and (max-width: 1100px) {
  .videos-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

}


@media screen and (max-width: 900px) {
  .category-btn {
    margin: 5px;
  }

  .aside {
    width: auto;
  }

  .copyright {
    display: none !important;
  }

  .videos-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .channel-descr {
    width: calc(100% - 280px);
    margin-right: 15px;
    padding: 20px 0;
  }
}

@media screen and (max-width: 800px) {
  .videos-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .search-bar {
    width: 280px;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }

  .search-bar {
    width: 200px;
  }

  .videos-wrapper {
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .video-card,
  .skeleton {
    height: 370px;
  }

  .video-img {
    height: 290px;
  }

  .channel-content-wrapper {
    display: block;
    width: 100%;
  }

  .channel-descr {
    width: 93%;
    margin: 0;
    padding: 20px;
  }

  .channel-card {
    width: 100%;
  }
}


@media screen and (max-width: 500px) {

  .video-card,
  .skeleton {
    height: 380px;
  }

  .video-img {
    height: 280px;
  }

}

@media screen and (max-width: 400px) {

  .video-card,
  .skeleton {
    height: 350px;
  }

  .video-img {
    height: 250px;
  }

}